@import './typography';
@import './variables';
@import './colors';

html {
  // background-color: $mdc-theme-primary;
  // background-color: transparent;
}

body {
  @include typography-base;

  // background-color: $background-color;
  background-color: $mdc-theme-primary;
  color: $foreground-color;

  // background-color: $mdc-theme-primary;
  margin: 0 $body-padding;

  * {
    box-sizing: border-box;
    // color: $foreground-color;
  }
}

a {
  color: $link-color;
  background-color: $link-background-color;
  outline: none;
  text-decoration: none;

  &:hover {
    // background-color: $link-background-color-hover;
    color: $link-color-hover;
    // text-decoration: underline;
  }
}

svg {
  > path {
    fill: $foreground-color;
  }
}

input {
  @include typography-base;

  background: none;
  outline: none;
}

mark {
  background: none;
  color: currentColor;
  text-decoration: underline;
}

pre,
xmp,
plaintext,
listing,
code {
  background-color: $background-color-secondary;
  font-family: 'CamingoCode-Regular';
  overflow: auto;
}

figure {
  margin: 0;
}

pre {
  padding: 5px 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
