@import './typography';
@import './variables';
@import './colors';

body {
  @include typography-base;
  @include selection-color;
  @include theme-color;

  background-color: $theme-color-primary;
  margin: 0 $body-padding;

  * {
    box-sizing: border-box;
  }
}

a {
  background-color: $link-background-color;
  color: $link-color;
  outline: none;
  text-decoration: none;

  &:hover {
    background-color: $link-background-color-hover;
    color: $link-color-hover;
  }
}

svg {
  > path {
    fill: $foreground-color;
  }
}

input {
  @include typography-base;

  background: none;
  outline: none;
}

mark {
  background: none;
  color: currentColor;
  text-decoration: underline;
}

pre,
xmp,
plaintext,
listing,
code {
  background-color: $background-color-secondary;
  font-family: 'CamingoCode-Regular';
  overflow: auto;
}

figure {
  margin: 0;
}

pre {
  padding: 5px 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  @include typography('header1');
}

h2 {
  @include typography('header2');
}

h3 {
  @include typography('header3');
}

h4 {
  @include typography('header4');
}

h5 {
  @include typography('header5');
}
