@import './typography';
@import './variables';
@import './mixins';
@import './colors';

html,
body {
  min-height: 100%;
}

body {
  @include typography-base;
  @include selection-color;
  @include theme-color;

  background-color: $theme-color-primary;
  margin: 0 $body-padding;

  * {
    box-sizing: border-box;
  }
}

a {
  background-color: $link-background-color;
  color: $link-color;
  outline: none;
  text-decoration: none;

  &:hover {
    background-color: $link-background-color-hover;
    color: $link-color-hover;
  }
}

button {
  cursor: pointer;
  outline: none;
}

svg {
  > path {
    fill: $foreground-color;
  }
}

input {
  @include typography-base;

  background: none;
  outline: none;
}

mark {
  background: none;
  color: currentColor;
  text-decoration: underline;
}

pre {
  @include padding-large;

  background-color: $background-color-secondary;

  a,
  a:hover {
    background-color: $background-color-secondary;
  }

  code {
    color: $foreground-color;
  }
}

pre,
xmp,
plaintext,
listing,
code {
  font-family: 'CamingoCode-Regular';
  overflow: auto;
  white-space: pre;
}

code {
  color: $foreground-color-secondary;
}

figure {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

h1 {
  @include typography('header1');
}

h2 {
  @include typography('header2');
}

h3 {
  @include typography('header3');
}

h4 {
  @include typography('header4');
}

h5 {
  @include typography('header5');
}

hr {
  background: $border-color-normal;
  border: 0;
  color: $foreground-color;
  font-size: 0;
  height: 1px;
}

tr,
td,
table {
  border: 1px solid transparent;
  border-collapse: collapse;
  border-spacing: 0;
}
