@import './variables';
@import './icons';
@import '@material/theme/color-palette';

$theme-color-primary: var(--mdc-theme-primary);
$theme-color-primary-light: var(--mdc-theme-primary-light);
$theme-color-primary-dark: var(--mdc-theme-primary-dark);
$theme-color-primary-off: var(--mdc-theme-primary-off);
$theme-color-secondary: var(--mdc-theme-secondary);
$theme-color-secondary-light: var(--mdc-theme-secondary-light);
$theme-color-secondary-dark: var(--mdc-theme-secondary-dark);

$success-color: var(--status-color-success);
$error-color: var(--status-color-error);
$warning-color: var(--status-color-warning);

$background-color: var(--background-color);
$background-color-secondary: var(--background-color-secondary);

$background-color-accent: var(--background-color-accent);
$background-color-light: var(--background-color-light);
$background-color-faded: var(--background-color-faded);

$foreground-color: var(--foreground-color-primary);
$foreground-color-primary: var(--foreground-color-primary);
$foreground-color-secondary: var(--foreground-color-secondary);
$foreground-color-hint: var(--foreground-color-hint);
$foreground-color-disabled: var(--foreground-color-disabled);
$foreground-color-icon: var(--foreground-color-icon);

$unread-color: $mdc-theme-secondary;

$link-color: $theme-color-primary;
$link-color-hover: $theme-color-primary-off;
$link-background-color: $background-color;
$link-background-color-hover: $background-color-secondary;

$border-color-normal: var(--border-color-normal);
$border-color-strong: var(--border-color-strong);

@mixin status-color($status) {
  color: var(--status-color-#{$status});
}

@mixin theme-color($background: primary, $foreground: primary, $theme-background: null, $theme-foreground: null) {
  @if ($theme-background) {
    @include icon-color(var(--mdc-theme-text-#{$foreground}-on-#{$theme-background}));

    background-color: var(--mdc-theme-#{$theme-background});
    color: var(--mdc-theme-text-#{$foreground}-on-#{$theme-background});
  }
  @else {
    @include icon-color(var(--mdc-theme-text-#{$foreground}-on-background));

    background-color: var(--background-color-#{$background});
    color: var(--mdc-theme-text-#{$foreground}-on-background);
  }

  @if ($theme-foreground) {
    @include icon-color(var(--mdc-theme-#{$theme-foreground}));

    color: var(--mdc-theme-#{$theme-foreground});
  }
}

@mixin selection-color() {
  ::selection {
    background: var(--selection-color-background);
    color: var(--selection-color-foreground);
  }
}

@mixin border-simple($color, $border-type: border) {
  border: 0;
  #{$border-type}: 1px solid $color;
}

@mixin border-normal($border-type: border) {
  @include border-simple($border-color-normal, $border-type);
}

@mixin border-strong($border-type: border) {
  @include border-simple($border-color-strong, $border-type);
}

@mixin border-transparent($border-type: border) {
  @include border-simple(transparent, $border-type);
}