@import './variables';
@import '@material/theme/color-palette';

$success-color: $material-color-green-600;
$error-color: $material-color-red-600;
$warning-color: $material-color-yellow-600;

$black-color: #000;
$white-color: #FFF;

$background-color: var(--background-color);
$background-color-secondary: var(--background-color-secondary);

$background-color-accent: var(--background-color-accent);
$background-color-light: var(--background-color-light);
$background-color-faded: var(--background-color-faded);

$foreground-color: var(--foreground-color);
$foreground-color-light: var(--foreground-color-light);
$foreground-color-dark: $material-color-grey-900;

$mdc-theme-primary-faded: rgba($mdc-theme-primary, .3);

$unread-color: $mdc-theme-secondary;
$unread-color-faded: rgba($unread-color, .3);

$border-color: var(--border-color);

$link-color: $mdc-theme-secondary-dark;
$link-color-hover: $mdc-theme-primary;
$link-background-color: $background-color;
$link-background-color-hover: $background-color-secondary;
