
@mixin space-v($value) {
  > * {
    margin-top: $value;

    &:first-child {
      margin-top: 0;
    }
  }
}

@mixin space-h($value) {
  > * {
    margin-left: $value;

    &:first-child {
      margin-left: 0;
    }
  }
}

@mixin bullet-h {
  > * {
    &:not(:last-child):after {
      content: " \2022  ";
    }
  }
}

@mixin round($size: 0) {
  @if ($size != 0) {
    width: $size;
    min-width: $size;
    height: $size;
    min-height: $size;
  }
  border-radius: 50%;
}
