@import './colors';

@mixin space-v($value) {
  > * {
    margin-top: $value;

    &:first-child {
      margin-top: 0;
    }
  }
}

@mixin space-h($value) {
  > * {
    margin-left: $value;

    &:first-child {
      margin-left: 0;
    }
  }
}

@mixin padding($value) {
  > * {
    padding: $value;
  }
}

@mixin bullet-h {
  > * {
    &:not(:last-child) {
      &::after {
        content: ' \2022  ';
      }
    }
  }
}

@mixin round($size: 0) {
  @if ($size != 0) {
    height: $size;
    min-height: $size;
    min-width: $size;
    width: $size;
  }
  border-radius: 50%;
}

@mixin ellipsis-h {
  overflow: hidden;
  text-overflow: ellipsis;
  text-transform: capitalize;
  white-space: nowrap;
}

@mixin ellipsis-v($line-count) {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $line-count;
  display: -webkit-box;
  overflow: hidden;
}

@mixin layout($dir, $inline: false, $justify-content: space-between) {
  @if $inline == true {
    display: inline-flex;
  } @else {
    display: flex;
  }

  align-items: center;
  flex-direction: $dir;
  justify-content: $justify-content;
}

@mixin layout-h($inline: false, $justify-content: space-between) {
  @include layout(row, $inline, $justify-content);
}

@mixin layout-v($inline: false, $justify-content: space-between) {
  @include layout(column, $inline, $justify-content);
}

@mixin flat-border($color: $border-color) {
  border: 1px solid $color;
  border-radius: $border-radius;
}

@mixin transparent-border {
  border: 1px solid transparent;
}
