$body-padding: 10px;
$body-max-width: 1600px;
$border-radius: 2px;
$border-width: 1px;

$icon-size-xsmall: 16px;
$icon-size-small: 24px;
$icon-size-medium: 32px;
$icon-size-large: 48px;
$icon-size-xlarge: 64px;

$logo-size: 64px;

$padding-large-h: 36px;
$padding-large-v: 24px;

$space-h: 10px;
$space-v: 8px;

$margin-h: 10px;
$margin-v: 8px;

$padding-small-h: 10px;
$padding-small-v: 8px;
