// $mdc-theme-primary: #6D4C41;
$mdc-theme-primary: var(--mdc-theme-primary);
$mdc-theme-primary-light: #9C786C;
$mdc-theme-primary-dark: #40241A;
// $mdc-theme-secondary: #64B5F6;
$mdc-theme-secondary: var(--mdc-theme-secondary);
// $mdc-theme-secondary-light: #9BE7FF;
// $mdc-theme-secondary-dark: #2286C3;
$mdc-theme-secondary-light: var(--mdc-theme-secondary-light);
$mdc-theme-secondary-dark: var(--mdc-theme-secondary-dark);
$mdc-theme-background: #FFF;

$body-padding: 10px;
$body-max-width: 1600px;
$border-radius: 2px;
$logo-size: 64px;
