@import '@material/theme/color-palette';

@import './vendor';
@import './Styles';
@import './Icons';
@import './Avatar';
@import './Buttons';
@import './Autosuggest';
@import './Post';
@import './Posts';
@import './Feed';
@import './Header';
@import './Search';
@import './Tag';
@import './TagsInput';
@import './AddFeedDialog';
@import './EditFeedDialog';
@import './DeleteFeedDialog';
@import './EditPostDialog';

.app {
  background-color: $mdc-theme-primary;
}

.app__content {
  margin: auto;
  max-width: $body-max-width;
}

body {
  background-color: $mdc-theme-primary;
  margin: 0 $body-padding;

  * {
    background-color: $background-color;
    box-sizing: border-box;
    color: $foreground-color;
  }
}

a {
  outline: none;
}

svg {
  > path {
    fill: $foreground-color;
  }
}

mark {
  background: none;
  color: currentColor;
  text-decoration: underline;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-top-0 {
  margin-top: 0;
}
