body {
  background-color: #808080;
  color: #000;
}

.style-sections {
  section {
    padding: 5px 10px;
  }

  .header {
    background-color: #AAA;
  }

  .typography {
    background-color: #BBB;

    span {
      display: block;
    }
  }

  .buttons {
    background-color: #DDD;

    button {
      margin: 0 2px;
    }
  }

  .cards {
    background-color: #CCC;
  }

  .menus {
    background-color: #EEE;
  }
}
