@import './variables';

@import './base';
@import './fonts';
@import './themes';
@import './typography';
@import './vendor';
@import './icons';

@import './Styles';
@import './Avatar';
@import './Buttons';
@import './AuthorDate';
@import './Post';
@import './PostView';
@import './PostViewDescription';
@import './PostList';
@import './Feed';
@import './Header';
@import './AddFeedDialog';
@import './EditFeedDialog';
@import './DeleteFeedDialog';
@import './EditPostDialog';
@import './Loader';
@import './LoginButton';
@import './LoginPage';

@import './Search';
@import './Autosuggest';
@import './Tag';
@import './TagsInput';

.app {
  min-height: 100%;
}

.app__content {
  background-color: var(--background-color);
  margin: auto;
  max-width: $body-max-width;
  min-height: 100vh;
}
