@import './variables';
@import './colors';
@import './mixins';
@import './Icons';
@import '@material/typography/mixins';

.autosuggest__container {
  position: relative;
  width: 100%;
}

.autosuggest_inline {
  display: inline;
  width: fit-content;
}

.autosuggest__suggestions-container {
  border-radius: $border-radius;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 2;
}

.autosuggest__suggestions-list {
  @include space-v(5px);
  @include flat-border;

  list-style: none;
  margin: 0;
  padding: 0;
}

.autosuggest__suggestion_highlighted {
  @include icon-color($foreground-color-strong);

  background-color: $mdc-theme-secondary;
  border-radius: $border-radius;

  * {
    background-color: $mdc-theme-secondary;
    color: $foreground-color-strong;
  }
}

.autosuggest__suggestion {
  padding: 5px 10px;
}
