@import './variables';
@import './colors';
@import './mixins';
@import './icons';
@import './typography';

.autosuggest__container {
  position: relative;
  width: 100%;
}

.autosuggest_inline {
  display: inline;
  width: fit-content;
}

.autosuggest__suggestions-container {
  background-color: $background-color-faded;
  border-radius: $border-radius;
  left: 0;
  position: absolute;
  right: 0;
  z-index: 2;
}

.autosuggest__suggestions-list {
  @include border-normal;
}

.autosuggest__suggestion_highlighted {
  @include theme-color($theme-background: secondary);

  border-radius: $border-radius;
}

.autosuggest__suggestion {
  @include padding-small;
}
