@import './variables';
@import './typography';
@import './colors';
@import './mixins';

.avatar {
  @include round(32px);
  @include typography('avatar');

  background-color: $mdc-theme-primary;
  color: $background-color;
  text-transform: uppercase;
  text-align: center;
}