@import './variables';
@import './colors';
@import './mixins';
@import './icons';
@import './typography';

.feed {
  @include space-v(15px);
  @include padding(5px 10px);

  background-color: $material-color-grey-100;
}

.feed__header,
.feed__footer {
  @include layout-h;
}

.feed__header {
  background-color: $mdc-theme-secondary-dark;
}

.feed__content {
  @include space-v(10px);
}

.feed__title {
  @include typography('headline');
}

.feed__avatar-author {
  @include typography('subheading2');
  @include space-h(10px);
}

.feed__description {
  @include typography('body1');
}

.feed__post-counts {
  @include bullet-h;
}

.feed__unread-count {
  color: $unread-color;
}

.feed__footer {
  @include typography('caption');
}

.feed__actions_menu-item {
  @include space-h(5px);
}
