@import './variables';
@import './colors';
@import './mixins';
@import '@material/typography/mixins';

.header {
  @include layout-h;

  background-color: $background-color;
  margin: auto;
  max-width: $body-max-width;
  padding: 10px 15px;
  position: relative;
}

.header__logo {
  display: flex;
  flex: 1;
}

.header__search {
  flex: 3;
}

.header__user-info {
  flex: 1;
  text-align: right;
}

.logo {
  border-radius: 50%;
  height: $logo-size;
  width: $logo-size;
}

.header_hidden {
  display: none;
}

.header__username {
  margin-bottom: 10px;
}

.header__subscribed-count,
.header__new-post-count {
  @include mdc-typography('caption');
}

.header__new-post-count {
  color: $unread-color;
}

.header_logged-out {
  height: $logo-size;
}
