@import './variables';
@import './colors';
@import './mixins';
@import './typography';

.header {
  @include layout-h;
  @include padding-small;

  background-color: $background-color-faded;
  margin: auto;
  max-width: $body-max-width;
  position: relative;
}

.header__left {
  display: flex;
  flex: 1;
}

.header__center {
  flex: 3;
}

.header__right {
  @include layout-v;
  @include space-v;

  flex: 1;
  white-space: nowrap;
}


.header__logged-out,
.header__user-info {
  @include layout-h($justify-content: flex-end);
  @include space-h;

  align-self: flex-end;
}

.header__username {
  white-space: nowrap;
}

.header__theme-switch {
  align-self: flex-end;
}

.logo {
  border-radius: 50%;
  height: $logo-size;
  width: $logo-size;
}

.header_hidden {
  display: none;
}

.header__new-post-count {
  color: $unread-color;
}

.header_logged-out {
  height: $logo-size;
}

.header__subscription-info {
  @include layout-h;
  @include bullet-h;
}
