@import './colors';

.icon_white {
  svg > path {
    fill: $material-color-grey-50;
  }
}

.icon_black {
  svg > path {
    fill: $black-color;
  }
}

.icon_success {
  svg > path {
    fill: $success-color;
  }
}

.icon_warning {
  svg > path {
    fill: $warning-color;
  }
}

.icon_error {
  svg > path {
    fill: $error-color;
  }
}

.icon_size-32 {
  svg {
    height: 32px;
    width: 32px;
  }
}

.icon_size-16 {
  svg {
    height: 16px;
    width: 16px;
  }
}

