@import './colors';

@mixin icon-translate($xvalue: 0, $yvalue: 0) {
  svg {
    transform: translate($xvalue, $yvalue);
  }
}

@mixin icon-color($color) {
  svg > path {
    fill: $color;
  }
}

@mixin icon-size($size) {
  svg {
    height: $size;
    width: $size;
  }
}

.icon_white {
  @include icon-color($background-color);
}

.icon_black {
  @include icon-color($foreground-color);
}

.icon_success {
  @include icon-color($success-color);
}

.icon_warning {
  @include icon-color($warning-color);
}

.icon_error {
  @include icon-color($error-color);
}

.icon_size-32 {
  svg {
    height: 32px;
    width: 32px;
  }
}

.icon_size-24 {
  svg {
    height: 24px;
    width: 24px;
  }
}

.icon_size-16 {
  svg {
    height: 16px;
    width: 16px;
  }
}

