@import './variables';
@import './colors';
@import './mixins';
@import './icons';
@import './typography';

.post-list {
  background-color: $background-color;
}

.post-list__post {
  height: 260px;

  > * {
    height: 100%;
  }
}
