@import './variables';
@import './colors';
@import './mixins';
@import './icons';
@import './typography';

.post-view__description {
  $width: 800px;

  @include typography('post-view');

  margin: auto;
  max-width: 100%;
  overflow: auto;
  width: $width;

  img {
    max-width: 100%;
    height: auto;
  }

  table {
    overflow-x: auto;
    display: block;
  }

  pre {
    overflow: auto;
  }

  img {
    opacity: var(--image-opacity);
  }

  img,
  div {
    padding: 0 !important;
    margin: 10px auto !important;
    float: none !important;
    display: block !important;
  }
}
