@import './variables';
@import './colors';
@import './mixins';
@import './icons';
@import './typography';

.post-item {
  @include layout-v;
  @include border-normal;

  border-radius: $border-radius;

  > * {
    width: 100%;
  }

  a {
    color: currentColor;

    &:hover {
      background-color: $background-color;
    }
  }
}

.post-item_elevated {
  border: 0;
  margin: $border-width;
}

.post-item__menu-item {
  @include space-h;

  a {
    @include layout-h;
    @include space-h;
  }
}

.post-item__header,
.post-item__footer {
  @include layout-h;
  @include padding-small;

  flex: 0 0 auto;
}

.post-item__header {
  @include space-h;
  @include theme-color($background: secondary);
}

.post-item__footer {
  @include typography('caption');
}

.post-item__content {
  @include space-v($space-v);
  @include padding-small;

  color: currentColor;
  display: block;
  flex: 1 1 auto;
  overflow: hidden;
  text-decoration: none;
}

.post-item__feed-info {
  @include typography('subheading2');
  @include layout-h;
}

.post-item__avatar,
.post-item__actions {
  flex: 0 0 auto;
}

.post-item__feed-title {
  @include typography('subheading2');
  @include ellipsis-h;

  flex: 1 1 auto;
}

.post-item__title {
  @include typography('header5');
  @include ellipsis-v($line-count: 3);
}

.post-item__summary {
  @include typography('body1');
  @include ellipsis-v($line-count: 3);
  @include theme-color($foreground: secondary);
}

.post-item__status {
  color: $unread-color;
  flex: 0 0 auto;
}
