@import './variables';
@import './colors';
@import './mixins';
@import './typography';
@import './icons';

.post-view {
  @include padding-large;
}

.post-view__title {
  @include typography('display1');

  text-align: center;
  text-transform: capitalize;

  a {
    color: $foreground-color;
    text-decoration: none;

    &:hover {
      background-color: $background-color;
      color: $link-color-hover;
    }
  }
}

.post-view__header {
  @include layout-h;
}

.post-view__avatar-feed-title {
  @include layout-h($justify-content: left);
  @include space-h($space-h);
  @include ellipsis-h;
}

.post-view__feed-title {
  @include typography('subheading2');
  @include ellipsis-h;
}

.post-view__author-date {
  @include typography('subheading2');
}
