@import './variables';
@import './colors';
@import './mixins';
@import './Icons';
@import '@material/typography/mixins';

.post {
  @include space-v(15px);

  background-color: $material-color-grey-100;

  > * {
    padding: 5px 10px;
  }
}

.post__header,
.post__footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.post__header {
  background-color: $mdc-theme-primary-light;
}

.post__actions {
  @include icon-translate(10px);
}

.post__footer {
  @include mdc-typography('caption');
}

.post__content {
  @include space-v(10px);
}

.post__feed-title {
  @include mdc-typography('subheading2');
  @include space-h(10px);
}

.post__title {
  @include mdc-typography('headline');
}

.post__summary {
  @include mdc-typography('body1');
}

.post__status {
  color: $mdc-theme-secondary-dark;
}

.post__date-author {
  @include bullet-h;
}
