@import './variables';
@import './colors';
@import './mixins';
@import './typography';
@import './Icons';

// TODO use gutter variables for all space-h, margins, etc

.post-view {
  padding: 24px 32px;
}

.post-view__title {
  @include typography('display1');

  text-align: center;
  text-transform: capitalize;

  a {
    text-decoration: none;
    color: $foreground-color;

    &:hover {
      color: $link-color-hover;
      background-color: $background-color;
    }
  }
}

.post-view__header {
  @include layout-h;
}

.post-view__avatar-feed-title {
  @include layout-h($justify-content: left);
  @include space-h(5px);
  @include ellipsis-h;

  margin-right: 20px;
}

.post-view__feed-title {
  @include typography('subheading2');
  @include ellipsis-h;
}

.post-view__author-date {
  @include typography('subheading2');
}
