@import './variables';
@import './colors';
@import './mixins';
@import './typography';

.search {
  display: flex;
  position: relative;
}

.search__input {
  @include typography('headline');

  margin-bottom: 0;
  width: 100%;
}

.search__suggestion {
  @include space-h($space-h);
  @include typography('subheading2');
  @include layout-h($justify-content: left);
}
