@import './variables';
@import './colors';
@import './mixins';
@import '@material/typography/mixins';

.search {
  display: flex;
  position: relative;
}

.search__input {
  @include mdc-typography('headline');

  box-sizing: border-box;
  background-color: $material-color-grey-100;
  border: 1px solid $material-color-grey-300;
  border-radius: 5px;
  outline: none;
  padding: 5px 7px;
  width: 100%;

  &:focus {
    border: 1px solid $material-color-grey-400;
  }
}

.search__suggestion_info {
  @include space-h(10px);

  display: flex;
}

.search__suggestion {
  @include mdc-typography('subheading2');

  align-items: center;
  display: flex;
  justify-content: space-between;
}