@import './colors';
@import './mixins';

.style-sections [class*='style-sections__'] {
  margin: 5px 10px;
}

.style-sections__post,
.style-sections__feed {
  @include space-v(20px);
}

.style-sections__typography {
  span {
    display: block;
  }
}

.style-sections__buttons {
  button {
    margin: 0 2px;
  }
}

.style-sections__themes-text-on-light,
.style-sections__themes-text-on-dark,
.style-sections__themes-on-background,
.style-sections__themes-text-on-theme-bg,
.style-sections__themes-bg,
.style-sections__themes {
  .light-theme-bg > span,
  .dark-theme-bg > span,
  > span {
    display: inline-block;
    height: 120px;
    margin: 4px;
    padding: 4px;
    text-align: left;
    vertical-align: top;
    width: 120px;
  }
}
