@import './colors';

.style-sections [class*='style-sections__'] {
  margin: 5px 10px;
}

.style-sections__post {
  .post {
    margin: 10px 0;
  }
}

.style-sections__header {
  background-color: $material-color-grey-200;
}

.style-sections__typography {
  background-color: $material-color-grey-300;

  span {
    display: block;
  }
}

.style-sections__buttons {
  background-color: $material-color-grey-400;

  button {
    margin: 0 2px;
  }
}

.style-sections__cards {
  background-color: $material-color-grey-500;
}

.style-sections__menus {
  background-color: $material-color-grey-600;
}

.style-sections__snackbars {
  background-color: $material-color-grey-700;
}

.style-sections__themes {
  background-color: $material-color-grey-800;

  span {
    display: inline-block;
    height: 96px;
    margin: 4px;
    padding: 16px;
    vertical-align: top;
    width: 96px;
  }
}

.style-sections__drawers {
  background-color: $material-color-grey-900;
}
