@import './variables';
@import './colors';
@import './mixins';
@import './Icons';
@import './typography';

.tag {
  @include layout-h(true);
  @include space-h(3px);
  @include typography('body1');
  @include flat-border;

  background-color: $background-color-secondary;
  border-radius: 50px;
  padding: 3px 3px 3px 12px;
  white-space: nowrap;
  width: fit-content;
}

.tag_elevated {
  @include transparent-border;
}

.tag__remove {
  @include layout-h(true);
  @include icon-size(16px);
  @include icon-color($background-color-light);

  background-color: $foreground-color-light;
  border: 0;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  padding: 3px;

  &:hover,
  &:focus {
    @include icon-color($mdc-theme-secondary);
  }
}
